{% extends "wargame/base.html" %}

{% block javascript %} 
    {% load static %}
    <script src="{% static 'wargame/wargame_test.js' %}" type="text/javascript"></script>  
    <script src="{% static 'wargame/utils.js' %}" type="text/javascript"></script> 

{% endblock %}

{% block title %}
    Test Page
{% endblock %}

{% block content %}
    <div id="test-result"></div>
    <script>
        // Call testGame() as soon as page is finished loading to display game play
        window.onload = testGame;
    </script>
{% endblock %}

{% block nav-home %}
    <a href="{% url 'home' %}">Return Home</a>
{% endblock %}